body {
  background-color: #ddd;
}

.container {
  background-color: #fff; 
}

.container#header {
  color: white;
  align-content: center;
  background-color: blue;
}

.container#p {
  
}

h3 {
  font-weigt: bold;
}

p {
 font-weigt: 300;
 line-height: 1.5;
 font-size: 112%;
}
