body {
  justify-content: center;
  background-color: #fff;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  align-content: center;
  background-color: #fff;
}

#header {
  height: 200px;
  background: linear-gradient(#0a26b2, #562a8c) ;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  background: linear-gradient(#0a74b2, #613cb7);
  border-radius: 30px;
  border-color: none;
}

#text {
  background-color: #562a8c;
  color: white;
}

#footer {
  background-color: #562a8c;
  color: white;
}

h1, h2 {

  text-align: center;
  color: white;
}

h3 {
  font-weight: bold;
}

p {
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 112%;
}
