body {
  background-color: #ddd;
}

.container {
  width: 50%;
  height: 200px;
  align-content: center;
  background-color: #fff; 
}

.container#header {
  height: 200px;
  color: white;
  text-align: center;
  background-color: blue;
}

.container#p {
  
}

h3 {
  font-weigt: bold;
}

p {
  text-align: center;
  font-weigt: 300;
  line-height: 1.5;
  font-size: 112%;
}
