.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: #fff;
}

.item {
  justify-content: center;
  align-content: center;
  margin: 2px auto;
  text-align: center;
  padding: 2px;
  width: 50%;
}

.item#header {
  background: linear-gradient(#1e28db, #701edb);
  color: white;
  font-family: Arial;
  padding: 5px;
  width: 100%;
}

.item#paragph {
  background-color: lightblue;
  border: 1px solid #492683;
}

.item#footer {
  border-top: 2px solid #392683;
  margin-top: 15px;
  padding: 0;
}

#footer-pgh {
  background-color: lightblue;
  border: 1px solid black;
}

p {
  justify-content: center;
  align-content: center;
  line-height: 1.5;
  font-weight: 300;
}

button {
  width: 120px;
  height: 40px;
  margin-top: 7px;
  background-color: #1e28db;
  border: none;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

span {
  font-weight: bold;
  color: purple;
}
