body {
  justify-content: center;
  background-color: #fff;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 200px;
  align-content: center;
  background-color: #fff; 
}

.container#text {
  background-color: #562a8c;
  color: white;
}

.container#header {
  height: 200px;
  color: white;
  text-align: center;
  background-color: linear-gradient(blue, purple) ;
}

.container#p {
  height: 25px;
}

.container#footer {
  background-color: #562a8c;
  color: white;
}

h3 {
  font-weigt: bold;
}

p {
  text-align: center;
  font-weigt: 300;
  font-size: 112%;
}
